.container {
  border: 1px solid blue;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.title {
  font-size: 1.5rem;
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.description {
  line-clamp: 7;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
